/*********************************************************************************************/
/***************************   PHONE SCREENS   360px width  **********************************/
/***********************************font-size: 10px*******************************************/
    html, body {
        margin-top: 25px;
        margin-bottom: 30px;
        background: #2d3a3e;
    }

    * {
        box-sizing: border-box;
    }
    /*==========================================================================*/
    /*=========================      NAVBAR      ===============================*/
    /*==========================================================================*/

    .navbar {
        display: inline-flex;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        height: 50px;
        background: #061d32;
    }

    .navbar-left {
        justify-content: flex-start;
    }

    .navbar-left__logo {
        display: inline;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar-right {
        display: none;
    }

    .navbar-right-icon {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        margin: 0;
        color: white;
    }

    /*==========================================================================*/
    /*=========================    INDEX PAGE    ===============================*/
    /*==========================================================================*/

    .header {
        padding-top: 5px;
        height: 150px;
        background-image: url("../pic/blog-wallpaper-copy.jpg");
        text-align: center;
        background-size: cover;
        color: white;
    }

    .header__input {
        width: 90%;
        height: 30%;
        margin: 10px auto;
        padding: 3px;
        background-color: rgba(24, 32, 35, 0.5);
        border: none;
    }

    /*==============  LATEST ARTICLE & AUTHOR introduction layout ==============*/

    .intro {
        width: 100%;
        height: auto;
        background: #1e282c;
    }
    .intro-header {
        width: 100%;
        height: auto;
        background: #a50600;
        text-align: center;
    }
    .intro__content_flexbox {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .intro__authorimage_flexbox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        background: snow url("../pic/author.jpg") no-repeat center;
        background-size: cover;
        align-self: center;
    }

    .intro__text_flexbox {
        text-align: left;
        width: 50%;
        font-size: 10px;
        color: white;
    }
    .intro-footer {
        width: 100%;
        height: auto;
        background: #a50600;
        text-align: center;
    }

    /*========================  INDEX PAGE OLDER ARTICLE's  =================*/

    .articleintro {
        text-align: center;
        width: 100%;
    }

    .articleintro__content {
        padding: 15px;
        position: relative;
        width: 100%;
        background: #061d32;
        color: white;
    }

    .articleintro_narrow {
            font-size: 10px;
            width: 70%;
            margin: 15px auto;
    }

    .articleintro__content_fullheight-border {
        padding: 15px;
        height: 100%;
        color: white;
        background: #061d32;
    }

    .articleintro-image {
        height: auto;
        width: 80%;
    }

    /*==========================================================================*/
    /*=========================   ARTICLE PAGE   ===============================*/
    /*==========================================================================*/
    .article {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }

    .article-image {
        padding-top: 25px;
        height: auto;
        width: 80%;
    }

    .article__content {
        text-align: left;
        font-size: 10px;
        color: white;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: #061d32;
    }

/*********************************************************************************************/
/************************     TABLET SCREENS   960px width     *******************************/
/*********************************font-size: 18px*********************************************/

@media screen
and (min-width: 360px)
and (-webkit-device-pixel-ratio: 2)
{
    /*========================  INDEX PAGE OLDER ARTICLE's  =================*/

    .articleintro_narrow{
        font-size: 18px;
    }

    /*==============  LATEST ARTICLE & AUTHOR introduction layout ==============*/

    .intro__authorimage_flexbox {
        width: 140px;
        height: 140px;
    }

    /*==========================================================================*/
    /*=========================   ARTICLE PAGE   ===============================*/
    /*==========================================================================*/

    .article__content{
        font-size: 18px;
    }

    .intro__authorimage_flexbox{
        width: 140px;
        height: 140px;
    }
    .intro__text_flexbox{
        font-size: 18px;
    }
}
/*********************************************************************************************/
/***************************  960px width < DESKTOP SCREENS     ******************************/
/***********************************font-size: 15px*******************************************/
/*************************(-webkit-device-pixel-ratio: 1)*************************************/

@media screen
and (min-width: 961px)
 {
    html, body {
        width: 100%;
        margin-bottom: 50px;
        background: #2d3a3e;
    }

    .header {
        padding-top: 5px;
        height: 350px;
        background-image: url("../pic/blog-wallpaper-copy.jpg");
        text-align: center;
        background-size: cover;
        color: white;
    }
    .header__input {
        width: 90%;
        height: 20%;
        margin: 10px auto;
        padding: 3px;
        background-color: rgba(24, 32, 35, 0.5);
        border: none;
    }
    /*==========================================================================*/
    /*=========================      NAVBAR      ===============================*/
    /*==========================================================================*/

    .navbar-right {
        display: inline;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;
    }

    .navbar-right__item {
        display: inline;

    }
    .navbar-right-icon {
        display: none;
    }
    /*========================  INDEX PAGE OLDER ARTICLE's  =================*/

    .articleintro {
        text-align: center;
        width: 100%;
    }

    .articleintro__content {
        padding: 15px;
        position: relative;
        width: 100%;
        background: #061d32;
        color: white;
    }

    .articleintro_narrow {
        font-size: 15px;
        width: 40%;
        margin: 15px auto;
    }

    .articleintro-image {
        height: auto;
        width: 40%;
    }
    .intro-container{
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    /*==============  LATEST ARTICLE & AUTHOR introduction layout ==============*/

    .intro__authorimage_flexbox{
        width: 180px;
        height: 180px;
    }
    .intro__text_flexbox{
        font-size: 15px;
    }

    /*==========================================================================*/
    /*=========================   ARTICLE PAGE   ===============================*/
    /*==========================================================================*/

    .article__content{
        font-size: 15px;
    }
    .article-image {
        padding-top: 25px;
        height: auto;
        width: 80%;
    }

}