/*********************************************************************************************/
/***************************   PHONE SCREENS   360px width  **********************************/
/***********************************font-size: 10px*******************************************/
html, body {
    margin-top: 25px;
    margin-bottom: 30px;
    background: #2d3a3e;
}

* {
    box-sizing: border-box;
}
/*==========================================================================*/
/*=========================      NAVBAR      ===============================*/
/*==========================================================================*/

.navbar {
    display: inline-flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    background: #061d32;
}

.navbar-left {
    justify-content: flex-start;
}

.navbar-left__logo {
    display: inline;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.navbar-right {
    display: none;
}

.navbar-right-icon {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
    color: white;
}
.sidebar{
    position: fixed;
    padding: 50px 0 0 0;
    top: -25px;
    right: 0;
    width: 0;
    height:100%;
    background: rgba(32, 42, 47, 0.91);
    list-style: none;
    transition: 0.5s;
    overflow-x: hidden;
}
.sidebar__item{
    padding-top: 50px;
    margin-left: 25px;
    color: white;
}
.sidebar__closebutton{
    position: absolute;
    top:20px;
    left:20px;
    list-style: none;
}
.sidebar__closebutton_style{
    color: white;
    font-size: 45px;
}
/*==========================================================================*/
/*=========================    INDEX PAGE    ===============================*/
/*==========================================================================*/

.header {
    padding-top: 5px;
    height: 150px;
    background-image: url("../pic/blog-wallpaper-copy.jpg");
    text-align: center;
    background-size: cover;
    color: white;
}

.header__input {
    width: 90%;
    height: 30%;
    margin: 10px auto;
    padding: 3px;
}
.header__input_style{
    background-color: rgba(52, 73, 94, 0.5);
    color: #ffffff;
    border: none;
    font-size: 20px;
}

/*==============  LATEST ARTICLE & AUTHOR introduction layout ==============*/

.intro {
    width: 100%;
    height: auto;
}
.intro_darkblue{
    background-color: #2c3e50;
}
.intro__marginals {
    width: 100%;
    height: auto;
    text-align: center;
}
.intro__marginals_darkblue{
    background:#2c3e50;
}
.intro__content_flexbox {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.intro__authorimage_flexbox {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background: snow url("../pic/author.jpg") no-repeat center;
    background-size: cover;
    align-self: center;
}

.intro__text_flexbox {
    text-align: left;
    width: 50%;
    font-size: 10px;
    color: white;
}
.intro-footer {
    width: 100%;
    height: auto;
    background: #2c3d41;
    text-align: center;
}

/*========================  INDEX PAGE OLDER ARTICLE's  =================*/

.articleintro {
    text-align: center;
    width: 100%;
}

.articleintro__content {
    padding: 15px;
    position: relative;
    width: 100%;
    background: #061d32;
    color: white;
}

.articleintro_narrow {
    font-size: 10px;
    width: 70%;
    margin: 15px auto;
}

.articleintro__content_fullheight-border {
    padding: 15px;
    height: 100%;
    color: white;
    background: #061d32;
}

.articleintro-image {
    height: auto;
    width: 80%;
}

/*==========================================================================*/
/*=========================   ARTICLE PAGE   ===============================*/
/*==========================================================================*/
.article {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.article-image {
    padding-top: 25px;
    height: auto;
    width: 80%;
}

.article__content {
    text-align: left;
    font-size: 10px;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #061d32;
    z-index: 10;
}

/*********************************************************************************************/
/************************     TABLET SCREENS   960px width     *******************************/
/*********************************font-size: 18px*********************************************/

@media screen
and (min-width: 361px)
and (-webkit-device-pixel-ratio: 2)
{
    .header {
        position: relative;
        padding-top: 5px;
        height: 250px;
        background-image: url("../pic/blog-wallpaper-copy.jpg");
        text-align: center;
        background-size: cover;
        color: white;
        z-index: 3;
    }
    /*========================  INDEX PAGE OLDER ARTICLE's  =================*/

    .articleintro_narrow{
        font-size: 18px;
    }

    /*==============  LATEST ARTICLE & AUTHOR introduction layout ==============*/

    .intro__authorimage_flexbox {
        width: 140px;
        height: 140px;
    }

    /*==========================================================================*/
    /*=========================   ARTICLE PAGE   ===============================*/
    /*==========================================================================*/

    .article__content{
        font-size: 18px;
    }

    .intro__authorimage_flexbox{
        width: 140px;
        height: 140px;
    }
    .intro__text_flexbox{
        font-size: 18px;
    }
}
/*********************************************************************************************/
/***************************  960px width < DESKTOP SCREENS     ******************************/
/***********************************font-size: 20px*******************************************/
/*************************(-webkit-device-pixel-ratio: 1)*************************************/

@media screen
and (min-width: 961px)
{
    html, body {
        width: 100%;
        margin-bottom: 50px;
        background: #2d3a3e;
    }

    .header {
        position: relative;
        padding-top: 5px;
        height: 350px;
        background-image: url("../pic/blog-wallpaper-copy.jpg");
        text-align: center;
        background-size: cover;
        color: white;
        z-index: 3;
    }
    .header__input {
        width: 90%;
        height: 20%;
        margin: 10px auto;
        padding: 3px;
    }
    .header__input_style{
        background-color: rgba(52, 73, 94, 0.5);
        color: #ffffff;
        border: none;
        font-size: 50px;
    }
    .header__input:focus{
        outline: none;
    }
    /*==========================================================================*/
    /*=========================      NAVBAR      ===============================*/
    /*==========================================================================*/

    .navbar-right {
        display: inline;
        position: absolute;
        top: 15px;
        right: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;
    }

    .navbar-right__item {
        display: inline;

    }
    .navbar-right-icon {
        display: none;
    }
    /*========================  INDEX PAGE OLDER ARTICLE's  =================*/

    .articleintro {
        text-align: center;
        width: 100%;
    }

    .articleintro__content {
        padding: 15px;
        width: 100%;
        background: rgba(30, 30, 30, 0.18);
        color: white;
    }

    .articleintro_narrow {
        font-size: 20px;
        width: 40%;
        margin: 15px auto;
    }

    .articleintro-image {
        height: auto;
        width: 40%;
    }
    .intro-container{
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    /*==============  LATEST ARTICLE & AUTHOR introduction layout ==============*/

    .intro {
        position: relative;
        width: 100%;
        height: auto;
    }

    .intro__marginals {
        display: flex;
        flex-flow: column;
        justify-content: center;
        position: absolute;
        top:0;
        width: 5%;
        height: 100%;
        color: white;
        text-align: center;
        z-index: 5;
    }

    .intro__marginals_right{
        right:0;
    }

    .intro__marginals__verticaltext{
        font-size: 35px;
        white-space: nowrap;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        align-self: center;
    }

    .intro__content_flexbox {
        padding: 0 5%;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .intro__authorimage_flexbox{
        margin-left: -25px;
        margin-top: -20px;
        -webkit-align-self: flex-start;
        align-self: flex-start;
        width: 150px;
        height: 150px;
        z-index: 1;
    }
    .intro__text_flexbox{
        width: 85%;
        margin-left: 25px;
        font-size: 20px;
    }

    /*==========================================================================*/
    /*=========================   ARTICLE PAGE   ===============================*/
    /*==========================================================================*/

    .article__content{
        font-size: 20px;
    }
    .article-image {
        padding-top: 25px;
        height: auto;
        width: 80%;
    }

}